USE [master]
GO
/****** Object:  Database [BlogOdev]    Script Date: 21.5.2015 22:16:52 ******/
CREATE DATABASE [BlogOdev]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BlogOdev', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\BlogOdev.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BlogOdev_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\BlogOdev_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO

--EĞER YUKARIDA BULUNAN FILENAME ADRES DİZİNİ MEVCUT BİLGİSAYARDAKİ GİBİ DEĞİLSE
--MANUEL OLARAK BlogOdev ADINDA BİR VERİTABANI OLUŞTURDUKTAN SONRA
--SADECE BU COMMENT SATIRINDAN AŞAĞIDAKİ KISIM ÇALIŞTIRILIR

ALTER DATABASE [BlogOdev] SET COMPATIBILITY_LEVEL = 120
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BlogOdev].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BlogOdev]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 21.5.2015 22:16:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[UrlSlug] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Image]    Script Date: 21.5.2015 22:16:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Image](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Post] [int] NOT NULL,
	[ImagePath] [nvarchar](50) NULL,
 CONSTRAINT [PK_Table_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Post]    Script Date: 21.5.2015 22:16:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Post](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](500) NOT NULL,
	[ShortDescription] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Meta] [nvarchar](1000) NOT NULL,
	[UrlSlug] [nvarchar](200) NOT NULL,
	[Published] [bit] NOT NULL,
	[PostedOn] [datetime] NOT NULL,
	[Modified] [datetime] NULL,
	[Category] [int] NOT NULL,
	[Author] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PostTagMap]    Script Date: 21.5.2015 22:16:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PostTagMap](
	[Post_id] [int] NOT NULL,
	[Tag_id] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Tag]    Script Date: 21.5.2015 22:16:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tag](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[UrlSlug] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([Id], [Name], [UrlSlug], [Description]) VALUES (1, N'Programming', N'programming', NULL)
INSERT [dbo].[Category] ([Id], [Name], [UrlSlug], [Description]) VALUES (2, N'Humor', N'humor', NULL)
SET IDENTITY_INSERT [dbo].[Category] OFF
SET IDENTITY_INSERT [dbo].[Image] ON 

INSERT [dbo].[Image] ([Id], [Post], [ImagePath]) VALUES (4, 8, N'370x370-1.png')
INSERT [dbo].[Image] ([Id], [Post], [ImagePath]) VALUES (5, 8, N'480x450-1.png')
INSERT [dbo].[Image] ([Id], [Post], [ImagePath]) VALUES (6, 8, N'480x450-4.png')
SET IDENTITY_INSERT [dbo].[Image] OFF
SET IDENTITY_INSERT [dbo].[Post] ON 

SET IDENTITY_INSERT [dbo].[Post] OFF
INSERT [dbo].[PostTagMap] ([Post_id], [Tag_id]) VALUES (1, 1)
INSERT [dbo].[PostTagMap] ([Post_id], [Tag_id]) VALUES (1, 3)
INSERT [dbo].[PostTagMap] ([Post_id], [Tag_id]) VALUES (2, 1)
SET IDENTITY_INSERT [dbo].[Tag] ON 

INSERT [dbo].[Tag] ([Id], [Name], [UrlSlug], [Description]) VALUES (1, N'CSharp', N'csharp', NULL)
INSERT [dbo].[Tag] ([Id], [Name], [UrlSlug], [Description]) VALUES (2, N'ASP', N'asp', NULL)
INSERT [dbo].[Tag] ([Id], [Name], [UrlSlug], [Description]) VALUES (3, N'ASP.NET', N'asp_net', NULL)
SET IDENTITY_INSERT [dbo].[Tag] OFF
ALTER TABLE [dbo].[Image]  WITH CHECK ADD  CONSTRAINT [FK_Image_Post] FOREIGN KEY([Post])
REFERENCES [dbo].[Post] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Image] CHECK CONSTRAINT [FK_Image_Post]
GO
ALTER TABLE [dbo].[Post]  WITH CHECK ADD  CONSTRAINT [FKEAE98E9B93F2FE0] FOREIGN KEY([Category])
REFERENCES [dbo].[Category] ([Id])
GO
ALTER TABLE [dbo].[Post] CHECK CONSTRAINT [FKEAE98E9B93F2FE0]
GO
ALTER TABLE [dbo].[PostTagMap]  WITH CHECK ADD  CONSTRAINT [FK6C4CB8685C756BA2] FOREIGN KEY([Post_id])
REFERENCES [dbo].[Post] ([Id])
GO
ALTER TABLE [dbo].[PostTagMap] CHECK CONSTRAINT [FK6C4CB8685C756BA2]
GO
ALTER TABLE [dbo].[PostTagMap]  WITH CHECK ADD  CONSTRAINT [FK6C4CB86878409102] FOREIGN KEY([Tag_id])
REFERENCES [dbo].[Tag] ([Id])
GO
ALTER TABLE [dbo].[PostTagMap] CHECK CONSTRAINT [FK6C4CB86878409102]
GO
USE [master]
GO
